@{
    ViewData["Title"] = "Home Page";
}

<h1>Employee Leave Management System</h1>
<h4>My realization of Udemy course project to get a grasp on new features of .NET6, ASP.NET Core and EF Core by building and publishing a practical system.</h4>
<h6><a href="https://github.com/Wengorito/LeaveManagement.Web">Project repository</a></h6>
<h6><a href="https://github.com/trevoirwilliams/LeaveManagementWeb-Net6">Original repository</a></h6>
<h6><a href="https://www.udemy.com/course/complete-aspnet-core-31-and-entity-framework-development/">Udemy course site</a></h6>
<br />

<div class="jumbotron">
    <h1>.NET 💜 Azure</h1>
    <p class="lead">Example .NET app to Azure App Service.</p>
</div>

<h6>- running in development mode -</h6>